[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "AutoPlots"]
	path = AutoPlots
	url = https://github.com/adrianantico/autoplots
